body {
  text-align: center;
  background-color: #1a508b;
}

h1 {
  font-size: 2.5rem;
  font-family:  'Press Start 2P', cursive;
  margin: 7rem auto 3rem auto;
  color: white;
  text-shadow: 3px 3px #0d335d;
}

.btn {
  height: 200px;
  width: 200px;
  border: solid 8px;
  border-radius: 40px;
  margin: 2rem;
}

.container {
  display: inline-block;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
}

.game-over {
  background-color: red;
}
